<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <nav>
        <div class="container">
            <div class="logo">
                <a href="#">Your Logo</a>
            </div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">as</a></li>
                <li><a href="#">hi</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    
    {% endblock %}

</body>
</html>