{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://api.geoapify.com/v1/geocode/autocomplete?text=Mosco&apiKey=2f66e0d2e25a40ba8a098c2c3a03d727"></script>
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div class="higher full_nav">
        <div class="navbar1">
            <nav>
                <a href="/medical/home">Home</a>
                <a href="/medical/form">Form</a>
                <a href="/medical/database">Database</a>
                <a href="/medical/about">About</a>
            </nav>
        </div>
        </div>
    
    </div>
    <div class="custom-form-label">
        <div class="center-content">
            <div class="container2">
                <form action="" method=POST>
                    {% csrf_token %}
                    <h1>Create a Medical Office</h1>
                    <div class = "form-group">
                        <label class = "form-label" for="form_input_name">Name:</label>
                    <span id = "form_input_name" class = "form_input">{{ form.name }}</span>
                    </div>

                    <div class = "form-group">
                        <label class = "form-label" for="form_input_open">Open:</label><br>
                    <span id = "form_input_open" class = "form_input">{{ form.open }}</span>
                    </div>

                    <div class = "form-group">
                        <label class = "form-label" for="form_input_close">Close:</label><br>
                    <span id = "form_input_close" class = "form_input">{{ form.close }}</span>
                    </div>

                    <div class = "form-group">
                        <label class = "form-label" for="form_input_location">Location:</label>
                    <span id = "form_input_location" class = "form_input">{{ form.location }}</span>
                    </div>

                    <div class = "form-group">
                        <label class = "form-label" for="form_input_location">Description:</label>
                    <span id = "form_input_location" class = "form_input">{{ form.description }}</span>
                    </div>

                    <div class="">
                        <input type="submit" value="Submit" class="submit-button2 input">
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>
</html>

{% endblock %}