{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://api.geoapify.com/v1/geocode/autocomplete?text=Mosco&apiKey=2f66e0d2e25a40ba8a098c2c3a03d727"></script>
    <title>Document</title>
</head>
<body>
    <div class="custom-form-label">
        <div class="center-content">
            <div class="container2">
                <form action="" method=POST>
                    {% csrf_token %}

                    {{ form.as_p }}
                    <div class="center">
                        <input type="submit" value="Submit" class="submit-button2">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}