{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="red">Welcome to HealthTech!</h1>
    <h2>An everday solution for those in search of a medical office and accessible appointment booking system!</h2>
    <h2>Search for a medical office near you!</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>

{% endblock %}
</body>
</html>