{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="center">
        <h1 class="title">Welcome to HealthTech, {{ username }}!</h1>
        <div class="sub-title">
            <h2>An everday solution for those in search of a medical office and accessible appointment booking system!</h2>
            <h2>Search for a medical office near you!</h2>
        </div>
        <form action="" method="POST" class="form1">
            {% csrf_token %}
            <input type="text" name="query" placeholder="Search for a medical office..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
        </form>

        {% if name1 %}
            <p class="alert-message1">{{ error }}</p>
        {% else %}
            <p class="message">{{ none }}</p>
        {% endif %}

        <h2>Create a form <a href="/medical/form">here!</a></h2>

    </div>

{% endblock %}
</body>
</html>