{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    {% block content %}

    <div class="back"></div>
    <nav>
        <a href="#">About</a>
        <a href="#">Works</a>
        <a href="#">Partners</a>
        <a href="#">Price</a>
        <a href="#">Contacts</a>
    </nav>

<!-- Unsplash copyright -->
    
    {% endblock %}

</body>
</html>