{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="center">
        <div class="lower">
    <h1>Login System</h1>
        {% if messages %}
            {% for message in messages %}
                <strong class="alert-message1">{{ message }}</strong>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="center-content">
        <div class="lower2">
            <form action="" method=POST>
                {% csrf_token %}
                <label class="field-label" for="exampleInputUsername1">Username:</label>
                <br>

                <div class="margin1"></div>

                <input class="form-field1" type="text" id="exampleInputUsername1" name="username">
                <br>

                <div class="margin1"></div>

                <label class="field-label" for="exampleInputPassword1">Password:</label>
                <br>

                <div class="margin1"></div>

                <input class="form-field1" type="password" id="exampleInputPassword1" name="password">

                <div class="margin1"></div>

                <br>
                <div class="center">
                    <input class="submit-button2" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>


</body>
</html>

{% endblock %}