{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if form.errors %}
        <p>There was an error with your form...</p>
    {% endif %}

    <h1>Registration System</h1>

    <form action="{% url 'register' %}" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit">

    </form>


</body>
</html>

{% endblock %}