{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="center">
        <div class="lower"> 
        <h1>Registration System</h1>

        {% if form.errors %}
            <strong><p class="alert-message1">There was an error with your form...</p></strong>
        {% endif %}
        </div> 
    </div>  

    <div class="center-content">
        <form action="{% url 'register' %}" method=POST>

            {% csrf_token %}
            <div class="higher1"></div>
                {% for field in form %}
                    <label class="field-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <p class="form-field1">{{ field }}</p>
                    <br>               
                {% endfor %}
                <div class="center">
                    <input class="submit-button2" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>

</body>
</html>

{% endblock %}